$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
#btn-account {
  margin-top: -40px;
  // vertical-align: middle;
  float: right;
}

.box {
  border-style: solid;
  background-color: lightyellow;
  border-width: 4px;
  margin: 15px;
  height: 300px;
  width: 30%;
  overflow-y:scroll;
}
.row {
  padding: 5px;
}
.glyphicon {
  float: right;
  margin-left: 10px;
  font-size: 145%;
}

#checked {
  margin-left: 3px;
  font-size: 10em;

}
input[type=checkbox]:checked + label {
  color:red;
  text-decoration: line-through;
}
header {
  color: white;
}
label {
  font-size: 18px;
  margin-left: 4px;
}

.list-name {
  font-size: 20px;
}
// .item-name {
//   font-size: 10px;
// }
// .btn-delete {
//   float: right;
//
// }
.btn-add-item {
  // float: right;
  // clear: left;
}
.btn-1{
  height: 32px;
  width: 15%;
  margin-left: 10px;
  // float: right;
  // clear: right;
}

.btn-2{
  height: 32px;
  width: 15%;
  margin-left: 10px;
  // float: right;
}
