
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'template';
$list-name-font-size: 130%;
$font-size: 130%;
$font-family: 'Handlee', cursive;
$white: #fffaf0;
$item-name-font-size: 95%;

.add-item-form {
  height: 38px;
}

body {
  font-family: $font-family;
  font-weight: 500;
 background-color: #efefef;
}
.before-log-in-message {
  text-align: center;
  margin-top: -1%;
  margin-bottom: 3%;

}
.box {
  border-style: solid;
  background-color: #ffff92;
  border-width: 1px;
  margin: 15px;
  height: 358px;
  width: 31%;
  overflow-y:scroll;
  box-shadow: 10px 10px 5px #888888;
}

.btn-1 {
  height: 20px;
  width: 15px;
  margin-left: 10px;
  float: right;
  margin-top: 10px;
}
.btn-2 {
  height: 20px;
  width: 15px;
  margin-left: 10px;
  float: right;
}
// #btn-account {
//   margin-top: -45px;
//   float: right;
// }
.btn-add-item {
  float: right;
  margin-top: 2px;
  margin-right: 1px;
}

.btn-item, .btn-list {
  float: right;
}
.break {
  margin-bottom: 6px;
}
#checked {
  margin-left: 3px;
  font-size: $font-size;

}

input[type='radio'], input[type='checkbox'] {
  margin: 4px 3px 0;
}

.choosen-item {
  width: 100%;
  margin-bottom: 10px;
  border-width: 1px;
  height: 24px;
  color: blue;
  font-style: italic;
  font-size: $font-size;
}

.content {
  margin: auto;
  width: 100%;
  margin-left: 11px;
}
#examples {
  margin-top: 54px;
}

.create-list-btn {
    margin-left: 25px;
  margin-top: 100px;
}
// .content-wrapper {
//   margin-left: 19px;
// }
.navbar-header {
  color: white;
  // font-size: 40px;
}
header {
  color: white;
}

input[type=checkbox]:checked + label {
  color: red;
  text-decoration: line-through;
}

.item-input {
  width: 92%;
  height: 65%;
}

.item-name {
  height: 40px;
  font-size: $item-name-font-size;

}

label {
  font-size: $font-size;
  margin-left: 4px;
}


.list-name {
  font-size: $list-name-font-size;
  height: 50px;
    margin-top: -9px;
}

.line-under-decide {
  width: 100%;
  border-style: dotted;
  margin-bottom: 6px;
  margin-top: -2%;
  border-width: 1px;
}

.message-form {
  color: red;
}

.modal-title {
  font-size: 33px;
}

.nav {
  font-size: 20px;
}

p {
  margin: 0 0 10px;
  font-size: 166%;
}

.row {
  padding: 5px;
}
.register {
  font-size: 22px;
}
.samples{
  content: url('https://i.imgur.com/q9DbLHO.png');
  width: 100%;
}

.scroll {
  overflow-y:scroll;
}
footer {
  background-color: #101010;
  // height: 90px;
//   margin-top: 550px;
//   padding: 25px 0;
//   text-align: center;
    margin-top: 112px;
  color: white;
}
  footer span a {
    color: lightblue;
  }
  footer a:hover {
    color: lightgrey;
  }
  footer span.copyright {
    padding-top: 5px;
    font-size: 125%;
    height: 70px;
    line-height: 70px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

@media only screen and (max-width: 320px) and (min-width: 319px) {
  .box {
    width: 86%;
    font-size: 74%;
  }
  .item-input {
    width: 83%;
  }

  // h1 {
  //   font-size: 151%;
  // }
  h2 {
    font-size: 136%;
  }

  .header-title h1 {
    font-size: 26px;
  }
  label {
    font-size: 100%;
  }
}

@media only screen and (max-width: 454px) and (min-width: 360px) {
  .box {
    width: 86%;
    font-size: 74%;
  }
  .item-input {
    width: 86%;
  }

  h1 {
    font-size: 151%;
  }
  h2 {
    font-size: 136%;
  }
  label {
    font-size: 100%;
  }
  // footer span.copyright {
  //     font-size: 80%;
  // }

  // .content-wrapper {
  //     margin-left: -8px;
  //   }
  .create-list-btn {
    margin-top: 72px;
  }
}

@media (min-width: 768px){
.navbar-nav li  a {
    padding-top: 23px;
  }
}

    @media (max-width: 575px) {
      footer span.copyright {
          font-size: 80%;
      }
      .create-list-btn {
        margin-top: 72px;
      }
    }
@media only screen and (max-width: 692px) and (min-width: 455px) {
  .box {
    width: 89%;
    font-size: 74%;
  }
  .item-input {
    width: 89%;
  }
  h1 {
    // font-size:223%;
  }
  // .create-list-btn {
  //   margin-top: 72px;
  // }
}

@media only screen and (max-width: 1009px) and (min-width: 693px) {
  .box {
    width: 45%;
    font-size: 64%;
  }
  h2 {
    font-size: 157%;
  }
  .item-input {
    width: 87%;
  }
  // footer span.copyright {
    // border: 1px solid;
  // margin-top: 90px;
  // }
  // .content-wrapper {
  //   margin-left: 19px;
  // }
}

// @media only screen and (max-width: 1252px) and (min-width: 1024px) {
//   .box {
//     width: 46%;
//     font-size: 74%;
//   }
//   .item-input {
//     width: 90%;
//   }
// }

@media only screen and (max-width: 1993px) and (min-width: 1010px) {
  .box {
    width: 30%;
    font-size: 74%;
  }
  .item-input {
    width: 86%
  }
  .content-wrapper {
    margin-left: 19px;
  }
}

@media only screen and (max-width: 2560px) and (min-width: 1994px) {
  .box {
    width: 31%;
    margin-left: 1%;
  }
  .item-input {
    width: 93%;
  }
}
